
.dart_tool/flutter_build/a687bc6b3c93e50052fd8ac5fe083b25/

build/web/.last_build_id

.dart_tool/chrome-device/Default/

.flutter-plugins

build/.DS_Store

assets/.DS_Store

*.dill

*.cc

*.cmake

*.swift

.flutter-plugins-dependencies

build/flutter_assets/
